INSERT INTO public.users (email,name,"providerId","password","tfaIsActive","tfaSecret","jobTitle","location","pictureUrl",timezone,"isSystem","isActive","isVerified","mustChangePwd","createdAt","updatedAt","providerKey","localeCode","defaultEditor","lastLoginAt","dateFormat",appearance) VALUES 
('{{ user.email }}','{{ user.name }}',NULL,'$2a$12$6HKz0BXeyOpyccAUMTMH8eAmGaWh6A2FmsswLgai2cZjoaLrVmJH2',false,NULL,'','',NULL,'{{ user.timezone | d('Europe/Bucharest')}}',false,true,true,false,'{{ lookup('pipe','date +%Y-%m-%dT%H-%M-%S.0000') }}','{{ lookup('pipe','date +%Y-%m-%dT%H-%M-%S.0000') }}','local','en','markdown',NULL,'','')
;